<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />

    <script type="text/javascript" src="/js/phaser.2.0.7.min.js"></script>
    <script type="text/javascript" src="/js/game.js"></script>

    <title>Woohoo!</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 page-header text-center">
                <h1>Mobineers</h1>
                <p class="lead"><i>Push Features, Bash Bugs - Life of the Mobineer</i></p>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <blockquote>
                    <p>Click on features to push them (10pts)</p>
                    <p>Drag bugs to the trash bin to bash them (2pts)</p>
                    <p></p>
                    <p>Each feature pushed has a chance of spawning bugs</p>
                    <p></p>
                    <p>Don't ignore the bugs for too long, otherwise you will hear from support...</p>
                </blockquote>
            </div>
        </div>

        <div class="row">
            <div id="mac" class="col-lg-12">
                <div id="game">
                    <!-- Game screen -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg12 text-center">
                    <p class="text-muted">Bootstrap. Phaser. Javascript.</p>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>